.service_Profile{
    margin: 0 auto;
    width: 80%;
}
.service_content_container{
    margin-top: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    
}
.service_resume{
    font-size: 20px;
    font-family: var(--text_font);
    line-height: 27.6px;
    color: var(--black_color);
    text-align: start;
    max-width: 582px;
}
.service_sections_container{
  padding: 10px;
  margin-top: 56px;
}
.ServiceProfile .input_group select{
    display: none ;
}
.service_Profile .input_group label.service_id{
    display: none;

}
.service_Booking{
    width: 80%;
    margin: 81px auto;

}
.faq_section,.service_offer,.service_doctors{
    margin-top: 50px;
}
.faq_item{
    margin-bottom: 30px;
}
.faq_head,.service_offer_head,.service_doctors_head{
    color: var(--primary_color);
  font-family: var(--heading_font);
  margin-bottom: 40px;
}
.offers_con_service{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.faq_answer{
    width: 60% !important;
}
.service_Profile .FormContact form {
    width: 74%;
    background-color: var(--white_color);
    border-radius: 25px;
    padding: 38px 45px;
    box-shadow: 0 4px 10px #00000040;
    margin: 0 auto;
  }

@media(max-width:620px){
    .service_Profile{
        width: 100%;
    }
}
@media(max-width:520px){
    .faq_answer{
        width: 90% !important;
    }
    
}