.Our_Offers_Card {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.Our_Offers_Card img {
    width: 100% ;
    object-fit: cover; 
    transition: opacity 0.5s ease-in-out;
}